.rent {
    margin-top: 70px;
    .rent__imgsy{
      display: none;
    }
    .rent__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      .rent__text {
        display: flex;
        flex-direction: column;
        gap: 30px;
        b {
          font-size: 50px;
          font-weight: 900;
        }
        p {
          color: gray;
        }
      }
    }
    .rent__inp {
      width: 280px;
      display: flex;
      align-items: center;
      border: 1px solid gray;
      border-radius: 25px;
      padding: 5px 10px;
      form {
        display: flex;
        align-items: center;
        gap: 60px;
        input {
          border: none;
          outline: none;
        }
      }
    }
  }
  @media(max-width:1000px){
  .rent {
    margin-top: 70px;
    .rent__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .rent__text {
        display: flex;
        flex-direction: column;
        gap: 30px;
        b {
          font-size: 50px;
          font-weight: 900;
        }
        p {
          color: gray;
        }
      }
    }
    .rent__inp {
      width: 280px;
      display: flex;
      align-items: center;
      border: 1px solid gray;
      border-radius: 25px;
      padding: 5px 10px;
      form {
        display: flex;
        align-items: center;
        gap: 60px;
        input {
          border: none;
          outline: none;
        }
      }
    }
  }
  }
  @media(max-width:680px){
  .rent {
    margin-top: 70px;
    .rent__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .rent__text {
        display: flex;
        flex-direction: column;
        gap: 30px;
        b {
          font-size: 50px;
          font-weight: 900;
        }
        p {
          color: gray;
        }
      }
    }
    .rent__img{
      display: none;
    }
    .rent__imgsy{
      display: block;
      margin-top: 30px;
    }
    .rent__inp {
      width: 280px;
      display: flex;
      align-items: center;
      border: 1px solid gray;
      border-radius: 25px;
      padding: 5px 10px;
      form {
        display: flex;
        align-items: center;
        gap: 60px;
        input {
          border: none;
          outline: none;
        }
      }
    }
  }
  }