.rent{
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  .rent__wrapper {
    display: flex;
    align-items: center;
    gap: 50px;
    .rent__text {
      display: flex;
      flex-direction: column;        
      .rent__top{
        font-size: 12px;
        font-weight: 700;
        color: #777E90;
        text-transform: uppercase;
        margin-top: 16px;
      }
      .rent__title{
        max-width: 440px;
        font-size: 48px;
        font-weight: 700;
        color: #23262F;
        margin-bottom: 32px;
      }
      .rent__main{
        max-width: 400px;
        font-size: 16px;
        font-weight: 400;
        color: #777E90;
        margin-bottom: 40px;
      }
    }
    .rent__input {
      width: 280px;
      display: flex;
      align-items: center;
      border: 1px solid gray;
      border-radius: 25px;
      padding: 5px 10px;
      form {
        display: flex;
        align-items: center;
        gap: 60px;
        input {
          padding: 0 12px;
          width: 100%;
          border: none;
          outline: none;
        }
      }
    }
  }
  .rent__img{
    width: 600px;
    height: 600px;
    object-fit: cover;
  }
}
@media(max-width:950px){
  .rent {
    margin-top: 70px;
    .rent__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .rent__text {
        display: flex;
        flex-direction: column;
        gap: 30px;
        b {
          font-size: 50px;
          font-weight: 900;
        }
        p {
          color: gray;
        }
      }
    }
    .rent__inp {
      width: 280px;
      display: flex;
      align-items: center;
      border: 1px solid gray;
      border-radius: 25px;
      padding: 5px 10px;
      form {
        display: flex;
        align-items: center;
        gap: 60px;
        input {
          border: none;
          outline: none;
        }
      }
    }
  }
  }
  @media(max-width:400px){
  .rent {
    margin-top: 70px;
    .rent__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .rent__text{
        display: flex;
        flex-direction: column;
        gap: 30px;
        .rent__title{
          font-size: 50px;
          font-weight: 900;
        }
        .rent__top .rent main{
          color: #777E90;
        }
      }
    }
    .rent__img{
      display: none;
    }
    .rent__imgsy{
      display: block;
      margin-top: 30px;
    }
    .rent__inp {
      width: 280px;
      display: flex;
      align-items: center;
      border: 1px solid gray;
      border-radius: 25px;
      padding: 5px 10px;
      form {
        display: flex;
        align-items: center;
        gap: 60px;
        input {
          border: none;
          outline: none;
        }
      }
    }
  }
  }